.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* .header{} */
.header__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 26px;

    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgba(85, 90, 136, 1);

    border: none 0px transparent;
    border-radius: 15px;

}

.header__plus-bounded {
    position: relative;
    bottom: 1px;

    padding: 0 6px;

    font-size: 24px;
    font-weight: 200;
}